@page
@model IndexModel
@{
    ViewData["Title"] = "КАСП";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="header-buttons d-flex justify-content-center align-items-center my-3">
        <a class="btn text-black mx-2" href="/Reports">Отчеты</a>
        @if (User.IsInRole("Admin"))
        {
            <a href="/ManageUsers" class="btn text-black mx-2">Администраторская панель</a>
        }
        else
        {
            <button class="btn btn-notifications mx-2">
                Уведомления
                <span class="badge">+23</span>
            </button>
        }
    </div>

}

@if (User.IsInRole("Admin"))
{
    
}

<div class="main-content d-flex align-items-center">
    <!-- Блок с текстом -->
    <div class="me-4">
        <h1>КАСП</h1>
        <p>Строительная фирма номер один в России</p>
    </div>

    <!-- Блок с изображением -->
    <img alt="Illustration" src="/images/banners/constructionImg.png" />
</div>
